@import "../../static/stylesheets/variables";

.aside-wrapper {
    height: calc(100vh - 60px);
    transform: translateX(-100%);
    overflow-y: scroll;
    background-color: #fff;
    width: 240px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform .3s ease-in-out;
    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $color-999;
        border-radius: 8px;
    }
}
.on{
    transform: translateX(0);
}
