@import '../../static/stylesheets/variables';
@import '../../static/stylesheets/mixin';

.myChallenge-wrapper{
    width: $aside-width;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8px;
    h2 {
    color: $main-color;
    margin-bottom: 8px;
    white-space: nowrap;
    }
    .enroll-button{
        margin: 0 auto;
        width: 70%;
        height: 32px;
        font-size: $font-size-16px;
        font-weight: bold;
        background-color: $main-color;
        color: #fff;
        border-radius: $border-radius-15px;
        transition: box-shadow .15s ease-in-out;
        &:hover{
            box-shadow: $box-shadow;
        }
    }
}
.my-challenge-list {
    width: 100%;
    .my-challenge-item {
        @include mouseHover();
        .my-challenge-link{
            display: flex;
            padding: 4px 18px;
            align-items: center;
            .challenge-profile {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                margin-right: 16px;
            }
            .my-challenge-title {
                overflow: hidden;
                font-size: $font-size-16px;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
}
.challenge-text{
    width: $aside-width;
    text-align: center;
    font-size: $font-size-16px;
    margin-bottom: 4px;
    white-space: nowrap;
}