@import "../../static/stylesheets/variables";
@import "../../static/stylesheets/mixin";

.enroll-main{
    .enroll-section{
        margin: 20px 0;
    }
    .last-section{
        padding-bottom: 20px;
    }
    .enroll-profile-button{
        width: 100%;
        height: 48px;
        border: $standard-border;
        border-radius: $border-radius-6px;
        padding: 14px 16px;
        font-size: $font-size-16px;
        margin: 6px 0px;
        transition: border-color .15s ease-in-out;
        &:focus{
            border-color: $main-color;
            color: $main-color;
        }
        label{
            width: 100%; height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .button-text{
                display: flex;
                .plus {
                    font-weight: bold;
                    margin-right: 5px;
                }
            }
        }
    }
    .input-file{
        display: none;
    }
    .upload-profile-image{
        .profile-image{
            width: 150px; height: 150px;
        }
    }
}