@import '../../static/stylesheets/variables';
@import '../../static/stylesheets/mixin';

.header{
    padding: 0 18px;
    box-shadow: $box-shadow;
    position: relative;
    h1{
        position: absolute;
        color: $main-color;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .header-wrapper{
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: $header-height;
        background-color: #fff;
        transition: all 0.15s ease-in;
        color: $main-color;
        .my-link{
            height: 100%;
            padding: 4px 8px;
            border-radius: 18px;
            @include mouseHover();
            .my-image{
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
            .my-name{
                color: #222;
                font-weight: bold;
                font-size: $font-size-16px;
                width: 80px;
            }
        }
        .auth-link{
            .login-link{
                padding: 8px 12px;
                border-radius: 15px;
                font-weight: bold;
                @include mouseHover();
            }
            .register-link{
                padding: 8px 12px;
                border-radius: 15px;
                font-weight: bold;
                margin-left: 10px;
                @include mouseHover();
            }
        }
    }

}