@import '../../static/stylesheets/variables';
@import '../../static/stylesheets/mixin';

.header {
    position: fixed;
    padding: 0 18px;
    box-shadow: $box-shadow;
    width: 100vw;
    z-index: 100;
    background-color: #fff;
    .header-wrapper {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: $header-height;
        background-color: #fff;
        transition: all 0.15s ease-in;
        color: $main-color;
        position: relative;
        h1 {
            position: absolute;
            color: $main-color;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .my-link-wrapper {
            padding: 4px 8px;
            .my-link {
                height: 100%;
                border-radius: $border-radius-15px;
                @include mouseHover();
                .my-image {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin-right: 8px;
                }
                .my-name {
                    color: #222;
                    font-weight: bold;
                    font-size: $font-size-16px;
                }
                @include tablet {
                    .my-name {
                        display: none;
                    }
                    .my-image {
                        margin-right: 0px;
                    }
                }
                @include mobile {
                    .my-name {
                        display: none;
                    }
                    .my-image {
                        margin-right: 0px;
                    }
                }
            }

            .my-link-tooltip {
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                top: 65px;
                right: 16px;
                height: 80px;
                font-size: $font-size-16px;
                font-weight: bold;
                background-color: $color-222;
                opacity: 0;
                color: #fff;
                pointer-events: none;
                transition: opacity .15s ease-in-out;
                @include tablet{
                    right: 0;
                }
                @include mobile{
                    right: 0;
                }
                &::after {
                    content: ' ';
                    position: absolute;
                    top: -25%;
                    left: 50%;
                    margin-left: -10px;
                    border-width: 10px;
                    border-style: solid;
                    border-color: transparent transparent $color-222 transparent;
                }
                .tooltip-button {
                    padding: 4px 8px;
                    font-weight: bold;
                    transition: color .15s ease-in-out;
                    &:hover{
                        color: $color-999;
                    }
                }
            }
            &:hover{
                .my-link-tooltip{
                    opacity: 1;
                    pointer-events: auto;
                }

            }
            .clicked {
                opacity: 1;
                pointer-events: auto;
            }
        }
        .auth-link {
            .login-link {
                padding: 8px 12px;
                border-radius: 15px;
                font-weight: bold;
                @include mouseHover();
            }
            .register-link {
                padding: 8px 12px;
                border-radius: 15px;
                font-weight: bold;
                @include mouseHover();
            }
            @include mobile {
                .register-link {
                    display: none;
                }
            }
        }
    }
    @include tablet {
        padding: 0 8px;
    }
    @include mobile {
        padding: 0 8px;
    }
}
