@import "../../static/stylesheets/variables";
@import "../../static/stylesheets/mixin";

.auth-wrapper {
    @include wrapper();
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .auth-title{
        text-align: center;
        margin: 12px 0px;
        color: $main-color;
    }
}